@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100;
}

main{
    max-width: 1200px;
    min-height: 90vh;
    margin: 0px auto;
}

